[flake8]
# Ignore line length, blank line at end of file, and line break before binary operator
# Added F401 (unused imports) and W291 (trailing whitespace) for all test files
ignore = E501,W391,W503,F401,W291
