.dfx
.kybra
venv
dist
node_modules
.svelte-kit
__pycache__
.env
declarations
debug_files
deleteme*
HACK*
kybra_simple_db
*.wasm
*.did
*temp
*.pem
src/declarations
e2e.log
extensions/*/
.python-version
src/realm_frontend/src/lib/config.js
dfx.log
