[submodule "extensions"]
	path = extensions
	url = git@github.com:smart-social-contracts/realms-extensions.git
[submodule "codices"]
	path = codices
	url = git@github.com:smart-social-contracts/realms-codices.git
