[submodule "extensions"]
	path = extensions
	url = https://github.com/smart-social-contracts/realms-extensions.git
	branch = main
[submodule "codices"]
	path = codices
	url = https://github.com/smart-social-contracts/realms-codices.git
