ic-basilisk==0.14.2
    # via
    #   -r realms/src/realm_registry_backend/requirements.in
    #   ic-basilisk-toolkit
ic-basilisk-toolkit==0.4.0
    # via -r realms/src/realm_registry_backend/requirements.in
ic-python-db==0.10.0
    # via ic-basilisk-toolkit
ic-python-logging==0.3.4
    # via ic-basilisk-toolkit
