include README.md
include LICENSE
include pyproject.toml
recursive-include realms_cli *.py
recursive-include realms_cli/templates *.j2 *.txt *.json
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
